* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #3e71d6c4;
    color: #333;
    padding: 20px;
}

.details-container {
    max-width: 100%;
    padding: 0 10%;
    text-align: center;
}

h1 {
    color: #1f2937;
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 10px auto 20px;
    width: 80%;
}

.instr p {
    color: #4b5563;
    line-height: 2.0;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.instr-list {
    position: relative;
    text-align: justify;
    color: white;
    width: 80%;
    max-width: 1024px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 0 40px 100px rgba(248, 245, 245, 0);
    margin-top: 3.25%;
    margin-left: 11%;
    backdrop-filter: blur(15px);
}

.instr-list li {
    color: #0ceeccf6;
    font-size: 1.05rem;
    line-height: 250%;
    margin: 5px 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .details-container {
        padding: 0 5%;
    }
}
